<h2>lista de botões que ao clicar aparecera a comida preferida deles</h2>
<div>


    <ul>
        <li *ngFor="let pessoa of listaPessoas" (mouseenter)="cliqueiBotaoFor(pessoa)">{{ pessoa.nome }}</li>
    </ul>


    <!-- <ul>
        <li>
            <button (click)="cliqueiBotaoComponente10('Banana')">joao </button>
        </li>
        <li>
            <button (click)="cliqueiBotaoComponente10('Maçã')">pedro</button>
        </li>
        <li>
            <button (click)="cliqueiBotaoComponente10('Pizza')">maria</button>
        </li>
        <li>
            <button (click)="cliqueiBotaoComponente10('paulo gosta de Chocolate')">paulo</button>
        </li>
    </ul> -->
</div>
