<div>
  <div>
    <h1>componente1</h1>
    <div>
      Componente simples, não há variáveis em seu arquivo ts.
    </div>
    <div>
      <app-componente1></app-componente1>
    </div>
    <div>
      ---------------------------------------------------------
    </div>
  </div>
  <div>
    <h1>componente2</h1>
    <div>
      Um componente que recebe um valor dinâmico através de uma propriedade.
    </div>
    <div>
      <app-componente2 [name]="'João'"></app-componente2>
    </div>
    <div>
      <app-componente2 [name]="'Pedro'"></app-componente2>
    </div>
    <div>
      ---------------------------------------------------------
    </div>
  </div>
  <div>
    <h1>componente3</h1>
    <div>
      Um componente que emite um evento quando um botão é clicado.
    </div>
    <div>
      <app-componente3 (clicked)="cliqueiBotaoComponente3()"></app-componente3>
    </div>
    <div>
      ---------------------------------------------------------
    </div>
  </div>
  <div>
    <h1>componente4</h1>
    <div>
      Um componente que mostra o funcionamento do ngFor
    </div>
    <div>
      <app-componente4></app-componente4>
    </div>
    <div>
      ---------------------------------------------------------
    </div>
  </div>
  <div>
    <h1>componente5</h1>
    <div>
      Um componente que mostra o funcionamento do ngIf
    </div>
    <div>
      <app-componente5></app-componente5>
    </div>
    <div>
      ---------------------------------------------------------
    </div>
  </div>






</div>


<router-outlet></router-outlet>